#page{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.input, .inputs{
    display: grid;
    justify-content: center;
    align-items: center;
}

.input{
    grid-template-columns: 1fr 1fr;
}

.inputs{
    grid-template-columns: 1fr;
}